/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url('p4.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.weather-container {
  background-color: rgba(23, 124, 107, 0); /* Add alpha transparency for the blur effect */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(100px); /* Adjust the blur value as needed for the desired effect */
  color: white; /* Set text color to white */
}

.weather-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: white;
}




.weather-icon {
  max-width: 150px; /* Adjust the maximum width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Center the image horizontally */
  margin: 20px auto; /* Add spacing around the icon */
}


.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #a5cde0;
  border-radius: 5px 0 0 5px;
  width: 70%;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; /* Add margin to create space */
}

button:hover {
  background-color: #0056b3;
}


.hidden {
  display: none;
}

.h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color:rgb(255, 255, 255)
}

.city-name {
  font-size: 24px;
  margin-bottom: 10px;
  color:aliceblue
}

.temperature {
  font-size: 42px;
  margin-bottom: 10px;
  color: #ade1ff
}

.weather-description {
  font-size: 24px;
  margin-bottom: 10px;
  color:rgb(229, 255, 0)
}

#loadingMessage {
  font-size: 16px;
}

#errorMessage {
  font-size: 16px;
  color: red;
}
